{ 
  "extends": [
    "react-native-wcandillon"
  ],
  "rules": {
    "react/jsx-sort-props": [2, {
      "noSortAlphabetically": true,
      "shorthandLast": true
    }],
    "@typescript-eslint/no-non-null-assertion": 0
  }
} 